@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: black;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #EF036C;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: ivory;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #FFCC00;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightgreen;
    transform: scale(1.1) perspective(1px);
    background-color: #AAFF00;
    color: red;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;

}

.stats-container:hover {
    display: flex;
    align-items: stretch;
}

#unfunded-btn:hover, #funded-btn:hover, #all-btn:hover  {
    cursor: pointer;
    box-shadow: 0 0 30px yellow;
    transform: scale(1.4) perspective(1px);
    background-color:#FFAC1C;
    color: #800020;
    font-weight: bold;

}

#h2id {
    color: ivory;
    text-align: center;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 35px;
}

#h2id span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}


#description-container {
    color: ivory;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.1) perspective(1px);
    background-color: #1F51FF;
    color: white;
}
.stats, .og, .co {
    color:white;
}

.header-text {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #40E0D0 80%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100x;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.stats {
    position: relative;
}

.stats span {
    position: relative;
    display: inline-block;
    color: #fff;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

.og {
    animation: 2s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
