@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: black;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #EF036C;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: ivory;
}

.stats-container {
    display: flex;
}

.stats-card {
    background-color: #FFCC00;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightgreen;
    transform: scale(1.1) perspective(1px);
    background-color: #AAFF00;
    color: red;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;

}

.stats-container:hover {
    display: flex;
    align-items: stretch;
}

#unfunded-btn:hover, #funded-btn:hover, #all-btn:hover  {
    cursor: pointer;
    box-shadow: 0 0 30px yellow;
    transform: scale(1.4) perspective(1px);
    background-color:#FFAC1C;
    color: #800020;

}

#h2id {
    color: ivory;
    text-align: center;
}

#description-container {
    color: ivory;
    text-align: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
    transform: scale(1.1) perspective(1px);
    background-color: #1F51FF;
    color: white;
}
.stats, .og, .co {
    color:white;
}